$("div#comments").append(`<p><%= escape_javascript(@comment.content) %>
<%= escape_javascript(link_to '댓삭', destroy_comment_path(@comment.id), method: :delete, remote: true, class: 'delete_comment') %>
</p><hr />`);
